 <!-- Footer -->
 <footer>
    <section class="w-full bg-gray-100 py-4 md:py-20 relative">
        <div class="container px-4 md:px-0 flex flex-col gap-4 md:flex-row gap-x-16">
            <div class="w-full">
                <h3 class="text-xl font-semibold uppercase mb-2">Praktisk info</h3>
                <ul>
                    <li class="flex items-center gap-4 border-b-2 pb-2">
                        <img src="../images/location.svg" alt="info">                                                    
                        <p>Tingbjerg ås 9, 2700 Brønshøj</p>                            
                    </li>
                    <li class="flex items-start gap-4 border-b-2 py-2">
                        <img src="../images/card.svg" alt="cvr">                                                
                        <p>CVR: 41 99 49 08</p>                        
                    </li>
                    <li class="flex items-start gap-4 border-b-2 py-2">
                        <img src="../images/@.svg" alt="email">
                        <p>rahmaler2020@gmail.com</p>
                    </li>
                    <li class="flex items-start gap-4 py-2">
                        <img src="../images/phone.svg" alt="phone">
                        <p>51 78 78 32</p>
                    </li>
                </ul>
            </div>
            <div class="w-full">
                <h3 class="text-xl font-semibold uppercase mb-2">vi tilbyder</h3>
                <ul>
                    <li class="flex items-center gap-4 border-b-2 pb-2">                        
                        <a href="#" title="maling">Malerarbejde</a>
                    </li>
                    <li class="flex items-start gap-4 border-b-2 py-2">                                                                
                        <a href="#" title="Spartel opgaver">Spartel opgaver</a>          
                    </li>
                    <li class="flex items-start gap-4 border-b-2 py-2">                        
                        <a href="#" title="Renovering">Renovering</a>          
                    </li>
                    <li class="flex items-start gap-4 py-2">                        
                        <a href="#" title="Vinduer og døre">Vinduer&døre</a>
                    </li>
                </ul>
            </div>
            <div class="w-full">
                <h3 class="text-xl font-semibold uppercase mb-2">Følg os</h3>
                <div class="flex gap-4">
                    <img src="../images/facebook.svg" alt="Facebook">
                    <img src="../images/instagram.svg" alt="Instagram">
                    <img src="../images/x.svg" alt="Twitter">
                </div>
            </div>
            
        </div>
        <img src="../images/logo_icon.svg" alt="logo_icon" class="hidden md:block absolute right-8 -top-2">        
    </section>
    <section class="w-full container px-4 flex flex-col md:flex-row justify-between">
        <p class="text-center text-sm pt-2">&copy; 2024 RAH maler. All rights reserved.</p>
        <p class="text-center text-sm p-2">Designed&Developed by iffidk@gmail.com</p>
    </section>
</footer>
</div>
</body>
</html>
