<!-- Hero Section -->
<section class="hero relative">
    <div class="container grid place-items-center h-full px-4 z-10">
        <div class="text-center flex flex-col items-center gap-2 transition duration-500 ease-in-out">                    
            <p class="text-lg md:text-2xl font-inter">kvalitetsarbejde til tiden</p>
            <h1 class="text-3xl md:text-6xl uppercase font-asap font-bold text-primary-color w-[20ch]">Vi skaber et hus, et drømmehjem, der skal elskes.</h1>
            <button class="bg-red-500 text-white font-bold py-2 px-4 rounded w-fit transition duration-1000 ease-in-out hover:bg-primary-color">
                Indhent tilbud
            </button>
        </div>                
    </div>           
</section>