<div class="p-8 bg-gray-100 relative">                  
    <h2>RAH MALER</h2>
    <p>Kontakt os nu for en fornuftig samtale.</p>
    <ul class="py-4">
        <li class="flex gap-8 items-start">
            
            <img src="../images/location.svg" alt="locaiton">
            <div>
                <p class="font-bold">Adresse</p>
                <p>Tingbjerg ås 9</p>
                <p>2700</p>
                <p>Brønshøj</p>
            </div>
        </li>
        <li class="flex gap-8 items-center py-4">
            
            <img src="../images/phone.svg" alt="telefon">
            
            <p>51 78 78 32</p>
        </li>
        <li class="flex gap-8 items-center">
            
            <img src="../images/@.svg" alt="telefon">
            
            <a href="mailto:rahmaler2020@gmail.com">rahmaler2020@gmail.com</a>
        </li>
    </ul>
    <img src="../images/paint_bucket.png" alt="plant" class="absolute w-80 right-0 bottom-0">
</div> 