<section class="container py-4 md:py-20">
    <div class="background"></div>
    <div class="services-container px-4 md:px-0">
        <a href="/malearbejde" title="malearbejde" class="maling border h-100 md:rounded-lg flex justify-center items-center flex-col text-center c14mqqgb">
            <p class="text-primary-color font-asap font-semibold text-lg sm:text-2xl md:text-4xl">Malerarbejde</p>            
            <p class="text-sm md:hidden w-[clamp(200px,60%,600px)] ">
                Professionelt malerarbejde med skræddersyede løsninger til både indendørs og udendørs maleropgaver.                
            </p>
        </a>
        <a href="/spartling" title="spartling" class="spartling border h-100 md:rounded-lg flex justify-center items-center flex-col text-center c14mqqgb">
            <p class="text-primary-color font-asap font-semibold text-lg sm:text-2xl md:text-4xl">Spartling</p>
            <p class="text-sm md:hidden w-[clamp(200px,60%,600px)]">Grundig spartling for en jævn og glat overflade, klar til maling eller tapetsering.</p>
        </a>
        <a href="/renovering" title="renovering" class="renovering border h-100 md:rounded-lg flex justify-center items-center flex-col text-center c14mqqgb">
            <p class="text-primary-color font-asap font-semibold text-lg sm:text-2xl md:text-4xl">Renovering</p>
            <p class="text-sm md:hidden w-[clamp(200px,60%,600px)]">Professional refurbishment of buildings.</p>
        </a>
        <a href="/vinduer-dore" title="vinduer&døre" class="vindu-door-maling border h-100 md:rounded-lg flex justify-center items-center flex-col text-center c14mqqgb">
            <p class="text-primary-color font-asap font-semibold text-lg sm:text-2xl md:text-4xl">Maling af vinduer og døre.</p>
            <p class="text-sm md:hidden w-[clamp(200px,60%,600px)]">Vi tilbyder professionel maling af vinduer og døre, der fornyer udseendet og beskytter mod vejr og slid.</p>
        </a>
    </div>
</section>