<section class="w-full py-4 md:py-20 bg-cover bg-center" style="background-image: url('../images/2.jpg');">        
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <!-- Left Column (Image) -->
             <div class="h-full">
                 %include('./components/_tilbud_form')
             </div>
            <!-- Right Column (Text) -->
             <div class="hidden md:block">
                 %include('./components/_why_us')                                       
             </div>
        </div>
    </div>
</section>