<div class="p-8 bg-gray-100 h-full">                  
    <h2>Hvorfor vælge os?</h2>
    <ul>
        <li class="flex gap-8 items-center">
            <div class="w-16 h-16 rounded-full bg-primary-color flex items-center justify-center">
                <img src="../images/time.svg" alt="time">
            </div>
            <p class="text-base md:text-xl">Kvalitet service til tiden</p>
        </li>
        <li class="flex gap-8 items-center py-4">
            <div class="w-16 h-16 rounded-full bg-primary-color flex items-center justify-center">
                <img src="../images/paint.svg" alt="time">
            </div>
            <p class="text-base md:text-xl">Bæredygtigt og høj kvalitet materiale</p>
        </li>
        <li class="flex gap-8 items-center">
            <div class="w-16 h-16 rounded-full bg-primary-color flex items-center justify-center">
                <img src="../images/handshake.svg" alt="handshake">
            </div>
            <p class="text-base md:text-xl">Opfylder altid forpligtelserne</p>
        </li>
        <li class="flex gap-8 items-center py-4">
            <div class="w-16 h-16 rounded-full bg-primary-color flex items-center justify-center">
                <img src="../images/star.svg" alt="star">
            </div>
            <p class="text-base md:text-xl">Positive anmeldelser og udtalelser</p>
        </li>
        <li class="flex gap-8 items-center">
            <div class="w-16 h-16 rounded-full bg-primary-color flex items-center justify-center">
                <img src="../images/staff.svg" alt="staff">
            </div>
            <p class="text-base md:text-xl">Erfarne og dedikerede medarbejdere</p>
        </li>
    </ul>
  
</div> 