%include('./components/_header')
<main class="main">
    <section class="w-full h-32 md:h-64 bg-gradient-to-r from-blue-900 via-red-500 to-gray-200">
        <div class="container flex items-center justify-center h-full text-white">
            <h1 class="text-3xl md:text-6xl uppercase font-asap font-bold text-white w-[20ch] text-center">Malerarbejde</h1>
        </div>
    </section>
    <section class="w-full py-4 md:py-20 px-4 md:px-0 container">        
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
          <!-- Left Column (Text) -->          
            <div class="md:pb-8">
                <h2>Alt indenfor malerfaget</h2>
                <p class="leading-relaxed">
                    Skal der males? Tøv ikke med at tage fat i Malermester Nicklas.                     
                    Vi varetager alle maleropgaver med samme positive indstilling uanset opgavens størrelse. 
                    Hvad enten du skal have hjælp til indendørs eller udendørs malerarbejde, står vi til rådighed:
                </p>
                <h2 class="pt-4">Kvalitet først og fremmest</h2>
                <p class="leading-relaxed">
                    I vores branche er det vigtigt, at man kæler for detaljerne. 
                    Det nytter ikke, at gå på kompromis med kvaliteten, når der skal males. 
                    Vi er præcise helt ned til millimeteren, og gør en dyd ud af at male jævnt på alle overflader. 
                    Dine ejendele bliver dækket grundigt af inden da, så du trygt kan vide, at der kun kommer maling de ønskede steder.
                </p>
            </div>
          
          <!-- Right Column (Image) -->
          <div>
            <picture>
                <!-- Image for small screens -->
                <source srcset="/images/small/03.jpg" media="(max-width: 320px)">
                
                <!-- Image for medium screens -->
                <source srcset="/images/medium/03.jpg" media="(max-width: 768px)">
                
                <!-- Image for large screens -->
                <source srcset="/images/large/03.jpg" media="(max-width: 1024px)">

                <!-- Image for large screens -->
                <source srcset="/images/super_large/03.jpg" media="(max-width: 1920px)">
                
                <!-- Default image if none of the conditions match -->
                <img src="/images/large/03.jpg" class="w-full h-full min-w-0 object-cover" alt="RAH MALER" loading="lazy">
            </picture>
          </div>
        </div>        
    </section>
    <section class="w-full h-32 md:h-40 bg-gradient-to-r from-blue-900 via-red-500 to-gray-200">
        <div class="container h-full flex justify-between items-center">
            <div>
                <h3 class="font-asap text-xl sm:text-2xl md:text-4xl font-semibold text-white">Skal du bruge et tilbud?</h3>
                <p class="text-lg md:text-2xl text-white">Kontakt os allerede i dag</p>                
            </div>
            <button class="flex bg-primary-color font-medium text-lg md:text-2xl text-white py-2 md:py-3 px-4  rounded w-fit cursor-pointer hover:bg-red-500">                     
                Få et godt tilbud
            </button>
        </div>
    </section>
    <section class="w-full py-4 px-4 md:px-0 md:py-20 container">        
        <div class="grid grid-cols-1 md:grid-cols-2">
          <!-- Left Column (Text) -->          
            <div class="md:pb-8 md:pr-8">
                <h2>Indendørs malerarbejde</h2>
                <p class="leading-relaxed">
                    Hos Malermester Nicklas er du sikret indvendigt malerarbejde af topkvalitet. 
                    Vi værner om detaljerne og varetager enhver maleropgave, som var det vores egen. 
                    Hvad enten der skal males loft, vægge eller andet indendørs, 
                    står vi klar som dit professionelle malerfirma i Hvidovre og resten af Storkøbenhavn.
                </p>                
                <p class="pt-2 leading-relaxed">
                    Vi har været i malerbranchen i over 15 år, og ved hvad det kræver, at skabe glade kunder. 
                    Når vi kommer ud til dig, sørger vi for, at du er velinformeret om hele processen fra A-Z – Det er jo dit hjem, 
                    så du er naturligvis forpligtet til at være klar over, hvad der bliver lavet. 
                    Inden vi kommer ud, sørger vi for at give dig en heads-up, så du ved hvornår, vi er fremme hos dig. 
                    Klar kommunikation er nøglen til et godt samarbejde.
                </p>
            </div>
          
          <!-- Right Column (Image) -->
          <div class="py-4 md:py-0">
            <picture>
                <!-- Image for small screens -->
                <source srcset="/images/small/20.jpg" media="(max-width: 320px)">
                
                <!-- Image for medium screens -->
                <source srcset="/images/medium/20.jpg" media="(max-width: 768px)">
                
                <!-- Image for large screens -->
                <source srcset="/images/large/20.jpg" media="(max-width: 1024px)">

                <!-- Image for large screens -->
                <source srcset="/images/super_large/20.jpg" media="(max-width: 1920px)">
                
                <!-- Default image if none of the conditions match -->
                <img src="/images/large/20.jpg" class="w-full h-full min-w-0 object-cover" alt="RAH MALER" loading="lazy">
            </picture>
          </div>
        </div>        
        <div class="grid grid-cols-1 md:grid-cols-2">
            <!-- Left Column (Image) -->
            <div class="order-2 md:order-1 py-4 md:py-0">
                <picture>
                    <!-- Image for small screens -->
                    <source srcset="/images/small/08.jpg" media="(max-width: 320px)">
                    
                    <!-- Image for medium screens -->
                    <source srcset="/images/medium/08.jpg" media="(max-width: 768px)">
                    
                    <!-- Image for large screens -->
                    <source srcset="/images/large/08.jpg" media="(max-width: 1024px)">
    
                    <!-- Image for large screens -->
                    <source srcset="/images/super_large/08.jpg" media="(max-width: 1920px)">
                    
                    <!-- Default image if none of the conditions match -->
                    <img src="/images/large/08.jpg" class="w-full h-full min-w-0 object-cover" alt="RAH MALER" loading="lazy">
                </picture>
            </div>
            <!-- Right Column (Text) -->          
              <div class="order-1 md:order-2 md:p-8">
                  <h2>Udendørs Malerarbejde</h2>
                  <p class="leading-relaxed">
                    Skal hjemmets facade opfriskes eller renoveres? Som malerfirma tilbyder vi udendørs malerarbejde i Hvidovre, 
                    Brøndby, Herlev og resten af Storkøbenhavn. 
                    Vi går aldrig på kompromis med vores standarder inden for facaderenovering eller andet udvendigt malerarbejde.
                  </p>                  
                  <p class="pt-2 leading-relaxed">
                    Alle former for udvendigt malerarbejde kræver et godt indblik i overfladen, hvor malingen skal påføres. 
                    Det handler ikke blot om, hvorvidt man bruger vandbaseret eller oliebaseret maling. 
                    Der er en række faktorer, som skal overvejes, så man sikrer et resultat, der holder mange år fremadrettet. 
                    Desuden kan kvaliteten på malingen også variere markant fra producent til producent. 
                    Vi har prøvet kræfter med en lang række forskellige mærker og leverandører, 
                    og derefter håndplukket vores personlige favoritter.
                  </p>
              </div>                        
          </div>
    </section>
    %include('./components/_tilbud_why')
</main>
%include('./components/_footer')